*.Rproj.user*
.Rhistory
.RData
.Ruserdata
test1
test*
.Rproj.user
.Rproj.user/shared/notebooks/paths
.Rproj.user/7BB414C4/sources/prop/INDEX
.Rproj.user/7BB414C4/sources/prop/D8A15D07
.Rproj.user/7BB414C4/sources/prop/A7B2E0AB
.Rproj.user/7BB414C4/rmd-outputs
*.pper
*.pper
*.pper
*.pper
.Rproj.user/7BB414C4/cpp-definition-cache
